<section flex class="md-whiteframe-z2">
        <md-toolbar class="demo-toolbar md-default-theme md-warn md-tall" layout='column'>
            <span flex></span>

            <div class="main-fab material-button-left">
                <button class="md-fab md-accent md-button md-default-theme" ng-click="newProduct($event);">
                    <md-icon md-font-icon="glyphicons glyphicons-plus"></md-icon>
                </button>
            </div>

            <div class="md-toolbar-tools">
                <div class="fill-height" layout='row' flex>
                    <div class="md-toolbar-item.md-breadcrumb" ng-hide='toggleSearch'>
                        <h3 class="ng-binding">Liste des fiches produits</h3>
                    </div>
                    <span flex ng-hide='toggleSearch'></span>
                    <md-input-container flex style='' ng-show='toggleSearch'>
                        <input type='text' ng-model='search.$' aria-label="Recherche" />
                    </md-input-container>
                    <div layout="row" class="md-toolbar-item md-tools">
                        <a ng-click="toggleSearch = !toggleSearch" class="md-button md-default-theme" tabindex="0"><span class="glyphicons glyphicons-search"></span></a>
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-content id="listProducts" class="md-padding text-center">
            <table class="table tableItems">
                <thead>
                <tr>
                    <th width="0%">ID</th>
                    <th width="100%">
                        <a ng-click="orderByField='name'; reverseSort = !reverseSort">
                            Titre
                        </a>
                    </th>
                    <th width="0%" class="text-center">
                        <a ng-click="orderByField='item.sendDate.sec'; reverseSort = !reverseSort">
                            Dernière&nbsp;modif.
                        </a>
                    </th>
                    <th width="0%" class="text-center">Informations</th>
                    <th width="0%" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in listProducts | filter:search | orderBy:orderByField:reverseSort" id="product_{{item._id}}">
                    <td>{{item._id}}</td>
                    <td class="text-left">
                        <h4>{{item.name}}</h4>
                        <md-chips ng-model="item.categories" readonly="true">
                            <md-chip-template>
                                {{$chip.infos.fr.name}}{{$chip.name}}
                            </md-chip-template>
                        </md-chips>
                    </td>
                    <td class="text-center">
                        {{item.logStatus[item.logStatus.length - 1].date.sec * 1000 | date:'shortDate'}}
                    </td>
                    <td class="text-center">
                        <div layout="row">
                            <div flex="25">
                                <md-button class="md-fab md-primary md-button-large" aria-label="Tags">
                                    <md-icon md-font-icon="glyphicons glyphicons-more-items"></md-icon>{{item.fields.lenght + item.prices.length}}
                                </md-button>
                            </div>
                            <div flex="25">
                                <md-button class="md-fab md-primary md-button-large" aria-label="Tags">
                                    <md-icon md-font-icon="glyphicons glyphicons-tags"></md-icon>{{item.tags.length}}
                                </md-button>
                            </div>
                            <div flex="25">
                                <md-button class="md-fab md-primary md-button-large" aria-label="Version">
                                    <md-icon md-font-icon="glyphicons glyphicons-conversation"></md-icon>{{item.comments.length}}
                                </md-button>
                            </div>
                            <div flex="25">
                                <md-button class="md-fab md-primary md-button-large" aria-label="Envoyé">
                                    <md-icon md-font-icon="glyphicons glyphicons-sort"></md-icon>{{item.categories.length}}
                                </md-button>
                            </div>
                        </div>

                    </td>
                    <td>
                        <div layout="row">
                            <div flex>
                                <md-button class="md-fab md-warm md-button-large" aria-label="Edition" ng-click="editProduct($event, item);">
                                    <md-icon md-font-icon="glyphicons glyphicons-pencil"></md-icon>
                                </md-button>
                            </div>
                            <div flex>
                                <md-button class="md-fab md-warm md-button-large" aria-label="Suppression" ng-click="showConfirmDeleteProduct($event, item);" ng-disabled="item.products.length > 0">
                                    <md-icon md-font-icon="glyphicons glyphicons-bin"></md-icon>
                                </md-button>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-content>
</section>
<p>&nbsp;</p>