<div class="ui-grid-cell-contents" ng-class="col.colIndex()" layout="row" layout-align="center center">
    <div flex="25">
        <md-button class="md-fab md-primary md-button-large iconInCircle" aria-label="Champs" title="Champs">
            <ng-md-icon icon="art_track" style="fill:white"></ng-md-icon> {{row.entity.fields.length}}
        </md-button>
    </div>
    <div flex="25">
        <md-button class="md-fab md-primary md-button-large iconInCircle" aria-label="Tags" title="Tags">
            <ng-md-icon icon="class" style="fill:white"></ng-md-icon> {{row.entity.products.length}}
        </md-button>
    </div>
</div>